<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<bean id="car" class="com.pack.Car"/>
		
	<bean id="engine" class="com.pack.Engine"/> 
		
		 

	 <bean id="car1" class="com.pack.Car1">
	 
		<property name="engine" ref="engine1"/> 
	 
	 </bean>
		
	<bean id="engine1" class="com.pack.Engine1"/> 
		
		 



</beans>